@import "tailwindcss";
@media(prefers-color-scheme: dark){
    :root{
        --bg-color: rgb(241, 241, 241);
    }
}

@media(prefers-color-scheme: light){
    :root{
        --bg-color: rgb(200, 200, 200);
    }
}

body{
    padding: 1rem;
    background: var(--bg-color);
}


@layer utilities {
  @keyframes shine {
    0% {
      transform: translateX(0%) translateY(14rem);
    }
    100% {
      transform: translateX(10000%) translateY(10rem);
    }
  }
}
.box{
  box-shadow: 25px 30px 20px rgba(0, 0, 0, 0.137);
}